mat-card-header{
    font-size: 20px;
    font-weight: 555;
    padding-bottom: 15px;
}

.representante-information{
    font-size: large;
    font-weight: bolder;
    padding-bottom: 15px;
}

.extra-information{
    font-size: large;
    font-weight: bolder;
    padding-bottom: 15px;
}

.table-representante{
    padding-top: 15px;
}

.table-extra{
    padding-top: 15px;
}

.td1{
    font-weight: bold;
}
.card-extra{
    margin-top: 55px;
}