<mat-card>
    <mat-card-header class="table">BPC</mat-card-header>
    <table mat-table [dataSource]="Bpc" multiTemplateDataRows class="mat-elevation-z3">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="beneficiario.cpfFormatado">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let element"> {{element.beneficiario.cpfFormatado}} </td>
        </ng-container>

        <ng-container matColumnDef="beneficiario.nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.beneficiario.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="beneficiario.nis">
            <th mat-header-cell *matHeaderCellDef> Nis </th>
            <td mat-cell *matCellDef="let element"> {{element.beneficiario.nis}} </td>
        </ng-container>

        <ng-container matColumnDef="municipio.pais">
            <th mat-header-cell *matHeaderCellDef> País </th>
            <td mat-cell *matCellDef="let element"> {{element.municipio.pais}} </td>
        </ng-container>
        
        <ng-container matColumnDef="municipio.uf.nome">
            <th mat-header-cell *matHeaderCellDef> UF </th>
            <td mat-cell *matCellDef="let element"> {{element.municipio.uf.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                
                <mat-card class="card-extra">
                    <mat-card-header class="representante-information">Representante Legal</mat-card-header>
                    <mat-card-content>
                        <table class="table-representante">
                            <tr>
                                <td class="td1">CPF: </td>
                                <td>{{element.beneficiario.cpfRepresentanteLegalFormatado}}</td>
                            </tr>
                            <tr>
                                <td class="td1">Nome: </td>
                                <td>{{element.beneficiario.nomeRepresentanteLegal}}</td>
                            </tr>
                            <tr>
                                <td class="td1">NIS: </td>
                                <td>{{element.beneficiario.nisRepresentanteLegal}}</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header class="extra-information">Informações extras</mat-card-header>
                    <mat-card-content>
                        <table class="table-extra">
                            <tr>
                                <td class="td1">Mês Competencia: </td>
                                <td>{{element.dataMesCompetencia}}</td>
                            </tr>
                            <tr>
                                <td class="td1">Mês Referencia: </td>
                                <td>{{element.dataMesReferencia}}</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</mat-card>
  