mat-card-title{
    font-size: 20px;
    font-weight: 555;
    padding-bottom: 15px;
}
main{
    margin: 1rem;
}

app-cnpj-cnep{
    margin: 1rem;
}

app-cnpj-cepim{
    margin: 1rem;
}

app-cnpj-leniencia{
    margin: 1rem;
}

mat-card {
    margin: 2rem 0;
}

