<main>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Dados Públicos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-cnpj-dados-publicos></app-cnpj-dados-publicos>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sanções</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-cnpj-cnep></app-cnpj-cnep>
            <app-cnpj-cepim></app-cnpj-cepim>
            <app-cnpj-leniencia></app-cnpj-leniencia>
        </mat-card-content>
    </mat-card>
</main>