<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>CNEP</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="cnep" multiTemplateDataRows>
      <ng-container matColumnDef="sancionado">
        <th mat-header-cell *matHeaderCellDef>Sancionado</th>
        <td mat-cell *matCellDef="let element">{{element.sancionado.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoSancao">
        <th mat-header-cell *matHeaderCellDef>Tipo Sanção</th>
        <td mat-cell *matCellDef="let element">{{element.tipoSancao.descricaoResumida}}</td>
      </ng-container>
      <ng-container matColumnDef="orgaoSancionador.nome">
        <th mat-header-cell *matHeaderCellDef>Órgão Sancionador</th>
        <td mat-cell *matCellDef="let element">{{element.orgaoSancionador.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="orgaoSancionador.siglaUf">
        <th mat-header-cell *matHeaderCellDef>Uf</th>
        <td mat-cell *matCellDef="let element">{{element.orgaoSancionador.siglaUf}}</td>
      </ng-container>
      <ng-container matColumnDef="orgaoSancionador.poder">
        <th mat-header-cell *matHeaderCellDef>Poder</th>
        <td mat-cell *matCellDef="let element">{{element.orgaoSancionador.poder}}</td>
      </ng-container>
      <ng-container matColumnDef="numeroProcesso">
        <th mat-header-cell *matHeaderCellDef>Número processo</th>
        <td mat-cell *matCellDef="let element">{{element.numeroProcesso}}</td>
      </ng-container>
      <ng-container matColumnDef="valorMulta">
        <th mat-header-cell *matHeaderCellDef>Multa</th>
        <td mat-cell *matCellDef="let element">{{element.valorMulta}}</td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <mat-card class="element-adicionais">
              <mat-card-header>TÍTULO</mat-card-header>
              <mat-card-content>
                <table>            
                  <tr>
                    <td>Descrição:</td>
                    <td>{{element.tipoSancao.descricaoPortal}}</td>
                  </tr>
                  <tr>
                    <td>Abrangência:</td>
                    <td>{{element.abrangenciaDefinidaDecisaoJudicial}}</td>
                  </tr>
                  <tr>
                    <td>Texto publicação:</td>
                    <td>{{element.textoPublicacao}}</td>
                  </tr>
                  <tr>
                    <td>Detalhamento:</td>
                    <td>{{element.detalhamentoPublicacao}}</td>
                  </tr>
                  <tr>
                    <td>Link publicação:</td>
                    <td>{{element.linkPublicacao}}</td>
                  </tr>
                  <tr>
                    <td>Informações adicionais:</td>
                    <td>{{element.informacoesAdicionaisDoOrgaoSancionador}}</td>
                  </tr>
                </table>
              </mat-card-content>          
            </mat-card>
            <mat-card class="element-datas">
              <mat-card-header>TÍTULO</mat-card-header>          
              <mat-card-content>
                <table>
                  <tr>
                    <td>Data de início:</td>
                    <td>{{element.dataInicioSancao}}</td>
                  </tr>
                  <tr>
                    <td>Data final:</td>
                    <td>{{element.dataFimSancao}}</td>
                  </tr>
                  <tr>
                    <td>Data de orgiem:</td>
                    <td>{{element.dataOrigemInformacao}}</td>
                  </tr>
                  <tr>
                    <td>Data de publicação:</td>
                    <td>{{element.dataPublicacaoSancao}}</td>
                  </tr>
                  <tr>
                    <td>Data de referência:</td>
                    <td>{{element.dataReferencia}}</td>
                  </tr>
                  <tr>
                    <td>Data de Transitado/Julgado:</td>
                    <td>{{element.dataTransitadoJulgado}}</td>
                  </tr>
                </table>
              </mat-card-content>          
            </mat-card>
            <mat-card class="element-pf">
              <mat-card-header>TÍTULO</mat-card-header>
              <mat-card-content>
                <table>
                  <tr>
                    <td>Razão social:</td>
                    <td>{{element.pessoa.nome}}</td>
                  </tr>
                  <tr>
                    <td>CPF:</td>
                    <td>{{element.pessoa.cpfFormatado}}</td>
                  </tr>
                  <tr>
                    <td>Tipo:</td>
                    <td>{{element.pessoa.tipo}}</td>
                  </tr>
                </table>         
              </mat-card-content>          
            </mat-card>                
            <mat-card class="element-fontes">
              <mat-card-header>TÍTULO</mat-card-header>
              <mat-card-content>
                <table>
                  <tr>
                    <td>Fonte sanção:</td>
                    <td>{{element.fonteSancao.nomeExibicao}}</td>
                  </tr>
                  <tr>
                    <td>Endereço:</td>
                    <td>{{element.fonteSancao.enderecoContato}}</td>
                  </tr>
                  <tr>
                    <td>Telefone:</td>
                    <td>{{element.fonteSancao.telefoneContato}}</td>
                  </tr>
                </table>
              </mat-card-content>          
            </mat-card>
            <table mat-table [dataSource]="element.fundamentacao" class="element-fundamentacao mat-elevation-z8">
              
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let data"> {{ data.codigo }} </td>
              </ng-container>
              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef>Descrição</th>
                <td mat-cell *matCellDef="let data"> {{ data.descricao }} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  </mat-card-content>
</mat-card>

