.card-extra{
    margin-top: 55px;
}

mat-card-header{
    font-size: large;
    padding-bottom: 15px;
}

.extra-information{
    font-size: large;
    font-weight: bolder;
    padding-bottom: 15px;
}

.td1{
    font-weight: bold;
}

.table-extra{
    padding-top: 15px
}

.container-expanded{
    background-color: whitesmoke;
}