<mat-card>
    <mat-card-header class="table">PEPS</mat-card-header>
    <table mat-table [dataSource]="Peps" multiTemplateDataRows class="mat-elevation-z3">
    
        <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
        </ng-container> 

        <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>
    
        <ng-container matColumnDef="descricaoFuncao">
        <th mat-header-cell *matHeaderCellDef> Função </th>
        <td mat-cell *matCellDef="let element"> {{element.descricaoFuncao}} </td>
        </ng-container>

        <ng-container matColumnDef="nomeOrgao">
        <th mat-header-cell *matHeaderCellDef> Órgão </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeOrgao}} </td>
        </ng-container>

        <ng-container matColumnDef="dtInicioExercicio">
        <th mat-header-cell *matHeaderCellDef> Início exercício </th>
        <td mat-cell *matCellDef="let element"> {{element.dtInicioExercicio}} </td>
        </ng-container>
   
        <ng-container matColumnDef="dtFimExercicio">
        <th mat-header-cell *matHeaderCellDef> Fim exercício </th>
        <td mat-cell *matCellDef="let element"> {{element.dtFimExercicio}} </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" class="container-expanded">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                
                <mat-card class="card-extra">
                    <mat-card-header class="extra-information">Informações extras</mat-card-header>
                    <mat-card-content>
                        <table class="table-extra">
                            <tr>
                                <td class="td1">Código do Órgão: </td>
                                <td>{{element.codOrgao}}</td>
                            </tr>
                            <tr>
                                <td class="td1">Sigla Função: </td>
                                <td>{{element.siglaFuncao}}</td>
                            </tr>
                            <tr>
                                <td class="td1">Nível Função: </td>
                                <td>{{element.nivelFuncao}}</td>
                            </tr>
                            <tr>
                                <td class="td1">Fim carência: </td>
                                <td>{{element.dtFimCarencia}}</td>
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</mat-card>