/*Mat-Card*/
mat-card-header{
    font-size: 20px;
    font-weight: 555;
    padding-bottom: 15px;
}

mat-card{
    margin: 1rem;
}

.loginUsuario{
    font-weight: bold;
}

.senhaUsuario{
    font-weight: bold;
}

.idUsuario{
    font-weight: bold;
}

.perfilUsuario{
    font-weight: bold;
}

.perfil{
    font-weight: bold;
}
/******/