<div class="corpo">
  <mat-card class="cardCreate">
    <mat-card-title Atualizar Usuario></mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Login do usuário</mat-label>
          <input matInput [(ngModel)]="usuario.login" placeholder="Deps" name="userName">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password do usuário</mat-label>
          <input matInput [(ngModel)]="usuario.password" placeholder="#eutotriste!" name="Password">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Perfil do usuário</mat-label>
          <mat-select [(ngModel)]="usuario.perfilUsuario" name="perfilUsuario">
            <mat-option value="1">adm</mat-option>
            <mat-option value="2">assitente</mat-option>
            <mat-option value="3">gerente</mat-option>
          </mat-select>
        </mat-form-field>
        
      </form>
      <div class="buttons">
        <button mat-raised-button color="primary" id="deps" (click)="AtualizarUsuario()">
          Salvar
        </button>
  
        <button mat-raised-button (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </mat-card-content>
 
  </mat-card>
</div>