mat-card {
    margin: 1rem;
  }
  mat-card-content{
  margin-top:1rem;
  width: 50%;
  margin-left:25%
  }
  mat-form-field{
  width: 100%;
  }
  div{
    display:flex;
    justify-content: flex-end;
  }
  .buttonAlign{
    margin-left:1rem;
  }
  button{
    transition: 0.3s;
  }
  #cancelar {
    background-color: #fff;
    color: #252d56;
    padding: 15px;
    font-size: medium;
    transition: 0.3s;
  }
  #cancelar:hover {
    background-color: #fff;
    color: #252d56;
  }

  #deps {
    background-color: #252d56;
    color: #fff;
    padding: 15px;
    font-size: medium;
    transition: 0.3s;
  }
  #deps:hover {
    background-color: #171c36;
    color: #e6e6e6;
  }



