mat-card{
    margin: 1rem;
    display: flex;
    align-items: center;
    border: 5rem;
}

mat-card-subtitle{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5rem
}