<mat-card>
    <mat-card-header>
        <mat-card-title>Faça seu Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Nome de Usuário</mat-label>
                <input matInput placeholder="Ana Silva">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput placeholder="anasilva">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Um23Senha!">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo de Usuário</mat-label>
                <mat-select>
                  <mat-option value="adm">adm</mat-option>
                  <mat-option value="assitente">assitente</mat-option>
                  <mat-option value="gerente">gerente</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-raised-button id="deps">
            <span class="descricao">REGISTRAR-SE</span>
        </button>
        <button mat-raised-button id="login" class="rotas" routerLink="/login">
            <span>ENTRAR</span>
        </button>
    </mat-card-content>
</mat-card>