main{
    margin: 1rem;
}

app-bolsa-familia{
    margin:1rem;
}

app-peti{
    margin: 1rem;
}

app-cpf-remuneracao{
    margin: 1rem;
}

app-cpf-bpc{
    margin: 1rem;
}

app-cpf-peps{
    margin: 1rem;
}

app-cpf-cnep{
    margin: 1rem;
}