main{
    margin: 1rem;
}
mat-card-title{
    font-size: 20px;
    font-weight: 555;
    padding-bottom: 15px;
}

app-bolsa-familia{
    margin:1rem;
}

app-peti{
    margin: 1rem;
}

app-cpf-remuneracao{
    margin: 1rem;
}

app-cpf-bpc{
    margin: 1rem;
}

app-cpf-peps{
    margin: 1rem;
}

app-cpf-cnep{
    margin: 1rem;
}

mat-card {
    margin: 2rem 0;
}