<main>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Benefícios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-cpf-bolsa-familia></app-cpf-bolsa-familia>
            <app-cpf-bpc></app-cpf-bpc>
            <app-cpf-peti></app-cpf-peti>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Poder Executivo Federal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-cpf-pep></app-cpf-pep>
            <app-cpf-remuneracao></app-cpf-remuneracao>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sanções</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-cpf-cnep></app-cpf-cnep>
            <app-cpf-cepim></app-cpf-cepim>
        </mat-card-content>
    </mat-card>

    
</main>