<mat-card class="card mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Consulta Remuneração</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="remuneracao" multiTemplateDataRows>
      <ng-container matColumnDef="mesAno">
        <th mat-header-cell *matHeaderCellDef>Mês Referência</th>
        <td mat-cell *matCellDef="let element">{{ element.mesAno }}</td>
      </ng-container>

      <ng-container matColumnDef="remuneracaoBasicaBruta">
        <th mat-header-cell *matHeaderCellDef>Remuneração Bruta</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.remuneracaoBasicaBruta }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gratificacaoNatalina">
        <th mat-header-cell *matHeaderCellDef>Gratificação Natalina</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.gratificacaoNatalina }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ferias">
        <th mat-header-cell *matHeaderCellDef>Férias</th>
        <td mat-cell *matCellDef="let element">R$ {{ element.ferias }}</td>
      </ng-container>

      <ng-container matColumnDef="outrasRemuneracoesEventuais">
        <th mat-header-cell *matHeaderCellDef>Outras Remunerações</th>
        <td mat-cell *matCellDef="let element">
          R$ {{ element.outrasRemuneracoesEventuais }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fundoSaude">
        <th mat-header-cell *matHeaderCellDef>Fundo Saude</th>
        <td mat-cell *matCellDef="let element">R$ {{ element.fundoSaude }}</td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedElement !== element"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedElement === element"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplayWithExpand.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="div2 expanded">
              <!--  PRIMEIRA COLUNA  -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Mais Informações</mat-card-title>
                </mat-card-header>
                <table mat-table class="tabela2" [dataSource]="remuneracao">
                  <ng-container matColumnDef="impostoRetidoNaFonte">
                    <th mat-header-cell *matHeaderCellDef>Imposto Retido</th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.impostoRetidoNaFonte }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="taxaOcupacaoImovelFuncional">
                    <th mat-header-cell *matHeaderCellDef>
                      Taxa Ocupação Imóvel
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.taxaOcupacaoImovelFuncional }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="outrasDeducoesObrigatorias">
                    <th mat-header-cell *matHeaderCellDef>Outras Deduções</th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.outrasDeducoesObrigatorias }}
                    </td>
                  </ng-container>

                  <ng-container
                    matColumnDef="valorTotalRemuneracaoAposDeducoes"
                  >
                    <th mat-header-cell *matHeaderCellDef>
                      Remuneração pós Deduções
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.valorTotalRemuneracaoAposDeducoes }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="pensaoMilitar">
                    <th mat-header-cell *matHeaderCellDef>Pensão Militar</th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.pensaoMilitar }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="previdenciaOficial">
                    <th mat-header-cell *matHeaderCellDef>
                      Previdencia Oficial
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.previdenciaOficial }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnTable1"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnTable1"></tr>
                </table>

                <br />
                <!--  SEGUNDA COLUNA  -->
                <table mat-table class="tabela2" [dataSource]="remuneracao">
                  <ng-container matColumnDef="verbasIndenizatorias">
                    <th mat-header-cell *matHeaderCellDef>
                      Verbas Indenizadoras
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.verbasIndenizatorias }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="verbasIndenizatoriasCivil">
                    <th mat-header-cell *matHeaderCellDef>
                      Verbas Indenizatorias Civil
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.verbasIndenizatoriasCivil }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="verbasIndenizatoriasMilitar">
                    <th mat-header-cell *matHeaderCellDef>
                      Verbas Indenizatorias Militar
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.verbasIndenizatoriasMilitar }}
                    </td>
                  </ng-container>

                  <ng-container
                    matColumnDef="verbasIndenizatoriasReferentesPDV"
                  >
                    <th mat-header-cell *matHeaderCellDef>
                      Verbas Indenizatorias PDV
                    </th>
                    <td mat-cell *matCellDef="let element">
                      R$ {{ element.verbasIndenizatoriasReferentesPDV }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="valorTotalHonorariosAdvocaticios">
                    <th mat-header-cell *matHeaderCellDef>Total Honorários</th>
                    <td mat-cell *matCellDef="let element">
                      R${{ element.valorTotalHonorariosAdvocaticios }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnTable2"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnTable2"></tr>
                </table>

                <br />

                <table mat-table class="tabela2" [dataSource]="remuneracao">
                  <ng-container matColumnDef="observacoes">
                    <th mat-header-cell *matHeaderCellDef>Observações</th>
                    <td class="observacao" mat-cell *matCellDef="let element">
                      {{ element.observacoes }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="observacao"></tr>
                  <tr mat-row *matRowDef="let row; columns: observacao"></tr>
                </table>
              </mat-card>

              <br />
              <!--  HONORARIOS ADVOCATIVOS  -->
              <div class="expanded inline">
                <mat-card class="honorarios">
                  <mat-card-header>
                    <mat-card-title>Honorários Advocaticios</mat-card-title>
                  </mat-card-header>
                  <table
                    mat-table
                    class="tabela2"
                    [dataSource]="element.honorariosAdvocaticios"
                  >
                    <ng-container matColumnDef="mesReferencia">
                      <th mat-header-cell *matHeaderCellDef>
                        Mês de Referência
                      </th>
                      <td mat-cell *matCellDef="let honorariosAdvocaticios">
                        {{ honorariosAdvocaticios.mesReferencia }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="valor">
                      <th mat-header-cell *matHeaderCellDef>
                        Total Honorários
                      </th>
                      <td mat-cell *matCellDef="let honorariosAdvocaticios">
                        {{ honorariosAdvocaticios.valor }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="honorarios"></tr>
                    <tr mat-row *matRowDef="let row; columns: honorarios"></tr>
                  </table>
                </mat-card>

                <br />
                <!--  JETONS  -->
                <mat-card class="jetons">
                  <mat-card-header>
                    <mat-card-title>Jetons</mat-card-title>
                  </mat-card-header>
                  <table
                    mat-table
                    class="tabela2"
                    [dataSource]="element.jetons"
                  >
                    <ng-container matColumnDef="mesReferencia">
                      <th mat-header-cell *matHeaderCellDef>Mês Referência</th>
                      <td mat-cell *matCellDef="let jetons">
                        {{ jetons.mesReferencia }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="valor">
                      <th mat-header-cell *matHeaderCellDef>Valor</th>
                      <td mat-cell *matCellDef="let jetons">
                        R$ {{ jetons.valor }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="descricao">
                      <th mat-header-cell *matHeaderCellDef>Descrição</th>
                      <td mat-cell *matCellDef="let jetons">
                        {{ jetons.descricao }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="jetons"></tr>
                    <tr mat-row *matRowDef="let row; columns: jetons"></tr>
                  </table>
                </mat-card>
              </div>

              <br />
              <!--  RUBRICAS  -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Rúbricas</mat-card-title>
                </mat-card-header>
                <table
                  mat-table
                  class="tabela2"
                  [dataSource]="element.rubricas"
                >
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef>Código</th>
                    <td mat-cell *matCellDef="let rubricas">
                      {{ rubricas.codigo }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="skMesReferencia">
                    <th mat-header-cell *matHeaderCellDef>Mês Referência</th>
                    <td mat-cell *matCellDef="let rubricas">
                      {{ rubricas.skMesReferencia }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef>Valor</th>
                    <td mat-cell *matCellDef="let rubricas">
                      R$ {{ rubricas.valor }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef>Descrição</th>
                    <td mat-cell *matCellDef="let rubricas">
                      {{ rubricas.descricao }}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="rubricas"></tr>
                  <tr mat-row *matRowDef="let row; columns: rubricas"></tr>
                </table>
              </mat-card>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>