<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item routerLink="/consulta">
                <i class="material-icons">
                    search
                </i>
                Consultas
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
        <app-cpfnis></app-cpfnis>
        <app-cnpjnis></app-cnpjnis>
    </mat-sidenav-content>
</mat-sidenav-container>