@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.sidenav{
    background-color: #242c54;
    width: 17rem;
    display: flex;
    flex-direction: column;
}

.logo{
    margin: 1rem;
    margin-left: 1.9rem;
}

.rotas{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;

}

.descricao{
    padding: 0.6rem;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}

.versao{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif; 
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
