<mat-sidenav-container authosize class="container"> 
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <div class="logo">
                <img src="assets/img/logo-deps.svg" alt="logo">
                <span class="Logoexpandida">
                    <img src="assets/img/logo-deps-completo.svg" alt="logo">
                </span>
            </div>
            <button (click)="expandir = !expandir" mat-raised-button id="rotate-botao" class="button">
                >
            </button>
            <a mat-list-item>
                <i class="material-icons">
                    search
                </i>
                <p *ngIf="expandir"> 
                    Consultas
                </p>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-cpfnis></app-cpfnis>
    </mat-sidenav-content>
</mat-sidenav-container>
