<mat-card class="bolsa-familia mat-elevation-z3">
    <mat-card-title class="title">Bolsa Família</mat-card-title>
        <div>
            <table class="table" mat-table [dataSource]="bolsaFamilia">

                <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.titularBolsaFamilia.nome}} </td>
                </ng-container> 

                <ng-container matColumnDef="quantidadeDependentes">
                <th mat-header-cell *matHeaderCellDef> Quantidade de Dependentes </th>
                <td mat-cell *matCellDef="let element"> {{element.quantidadeDependentes}} </td>
                </ng-container> 

                <ng-container matColumnDef="dataMesCompetencia">
                <th mat-header-cell *matHeaderCellDef> Data Mês De Competência </th>
                <td mat-cell *matCellDef="let element"> {{element.dataMesCompetencia}} </td>
                </ng-container>

                <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                </ng-container>
            
                <ng-container matColumnDef="nomeIBGE">
                <th mat-header-cell *matHeaderCellDef> Município </th>
                <td mat-cell *matCellDef="let element"> {{element.municipio.uf.sigla}} </td>
                </ng-container>

                <ng-container matColumnDef="sigla">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.municipio.uf.nome}} </td>
                </ng-container>  

                <ng-container matColumnDef="cpfFormatado">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.titularBolsaFamilia.cpfFormatado}} </td>
                </ng-container> 

                <ng-container matColumnDef="nis">
                <th mat-header-cell *matHeaderCellDef> NIS </th>
                <td mat-cell *matCellDef="let element"> {{element.titularBolsaFamilia.nis}} </td>
                </ng-container> 

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
</mat-card>
