<mat-card class="card_usuario">
    <mat-card-content>
        <div class="">
            <table mat-table [dataSource]="usuario">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
              </ng-container> 
              <ng-container matColumnDef="perfil.nome">
                <th mat-header-cell *matHeaderCellDef>NOME DO PERFIL</th>
                <td mat-cell *matCellDef="let perfil">{{perfil.nome}}</td>
              </ng-container>
              <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef>LOGIN</th>
                <td mat-cell *matCellDef="let row">{{row.login}}</td>
              </ng-container>                     
              <ng-container matColumnDef="perfilUsuario">
                <th mat-header-cell *matHeaderCellDef>NIVEL DO USUÁRIO</th>
                <td mat-cell *matCellDef="let row">{{ getPerfilUsuarioString(row.perfilUsuario) }}</td>
              </ng-container>
              <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef>ATIVO</th>
                <td mat-cell *matCellDef="let row">{{row.ativo}}</td>
              </ng-container>


              <ng-container matColumnDef="opcoes">
                <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                <td mat-cell *matCellDef="let row">
                    <a routerLink="/administracao/atualizarUsuario/{{ row.id }}/{{row.idPerfil}}">
                        <i class="material-icons" id="deps">
                            edit
                        </i>
                    </a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
    </mat-card-content>
</mat-card>