/*Mat card*/
mat-card{
    margin: 1rem;
}

mat-card-header{
    font-size: 20px;
    font-weight: 555;
    padding-bottom: 15px;
}
mat-card-content{
    width: 50%;
    margin-left:25%
}
    /*Inputs*/
    .inputLogin{
        width: 100%;
    }

    .inputSenha{
        width: 100%;
    }

    .inputID{
        width: 100%;
    }

    .inputUsuario{
        width: 100%;
    }

    .inputNome{
        width: 100%;
    }
    /******/
/******/
/*Botão Confirmar*/
#confirmarAlteracoes {
    background-color: #252d56;
    color: #fff;
    transition: 0.3s;
}

#confirmarAlteracoes:hover {
    background-color: #171c36;
    color: #e6e6e6;
}
.descricaoConfirmar{
    padding: 0.6rem;
}
/*Botões gerais*/
div{
    display: flex;
    justify-content: flex-end;
}
button{
    transition: 0.3s;
}
/*Botão Cancelar*/
.descricaoCancelar{
    padding: 0.6rem;
}
/******/

.buttonCancelar{
    margin-right:1rem;
}
