<div class="consulta-form">
    <header>
        <mat-form-field>
            <mat-label>Consulta por:</mat-label>
            <mat-select [(ngModel)]='consulta' required>
              <mat-option value="cpf">CPF</mat-option>
              <mat-option value="cnpj">CNPJ</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data referência:</mat-label>
            <input required matInput [matDatepicker]="picker" [(ngModel)]='dataReferencia'>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Pesquisar pelos útlimos:</mat-label>
            <mat-select [(ngModel)]='intervalo' required>
              <mat-option value="3">3 meses</mat-option>
              <mat-option value="6">6 meses</mat-option>
              <mat-option value="12">12 meses</mat-option>
            </mat-select>
        </mat-form-field>
    </header>
    <main>
        <mat-form-field>
            <mat-label *ngIf="consulta === 'cpf'">CPF</mat-label>
            <mat-label *ngIf="consulta === 'cnpj'">CNPJ</mat-label>
            <input matInput [(ngModel)]='codigo' required>
            <mat-hint>Somente números</mat-hint>
        </mat-form-field>
    </main>
    <button mat-raised-button color="primary" (click)="Buscar()">Buscar</button>
</div>

