mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
form {
  margin-top: 2vw;
}
mat-card-header {
  margin-top: 1vw;
}
mat-card-title {
  font-size: x-large;
}

button {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
#deps {
  background-color: #252d56;
  color: #fff;
  padding: 25px;
  font-size: medium;
}
#deps:hover {
  background-color: #171c36;
  color: #e6e6e6;
}
#register {
  background-color: #fff;
  color: #252d56;
  margin-top: 1vw;
  padding: 25px;
  font-size: medium;
  border: 1px solid #252d56;
}
#register:hover {
  background-color: #171c36;
  color: #e6e6e6;
}