<mat-card>
  <img src="../../../../assets/img/logo-deps-completo-colorido.png" alt="Logo" class="logo">
  <mat-card-header>
    <mat-card-title>Faça seu Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="login()">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <button id="deps" mat-raised-button type="submit">
        <span (click)="login()" class="descricao">ENTRAR</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
