<mat-card>
    <mat-card-header>
        <mat-card-title>Faça seu Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input
                    matInput
                    [(ngModel)]="username"
                    required
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input 
                    type="password"
                    matInput
                    (keydown.enter)="verifyCredentials(username, password)"
                    [(ngModel)]="password"
                    required
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>
        </form>
        <button mat-raised-button id="deps" (click)="verifyCredentials(username, password)">
            <span class="descricao">ENTRAR</span>
        </button>
    </mat-card-content>
</mat-card>