mat-card {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5% 0 0 0;
    background: #252d56;
    background: linear-gradient(180deg, #252d56 50%, #14182d 100%); 
    border-radius: 0px;
  }
  mat-form-field {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
  form {
    margin-top: 2vw;
  }
  mat-card-header {
    margin-top: 1vw;
  }
  mat-card-title {
    padding: 5% 0;
    font-size: xx-large;
    color: #fff;
  }
  
  button {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
  #deps {
    background-color: #ff4a33;
    color: #fff;
    padding: 25px;
    font-size: medium;
    transition: 0.3s;
  }
  #deps:hover {
    background-color: #c33826;
    color: #e6e6e6;
  }
  .deps {
    background-color: transparent;
    border: none;
    color: #ff4a33;
    padding: 25px;
    font-size: medium;
    transition: 0.3s;
  }
  .deps:hover {
    color: #c33826;
  }