mat-card-title{
  font-size: 18px;
  font-weight: 555;
  padding-bottom: 15px;
}
table {
    width: 100%;
  }
  
  .card-secundarios {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card-secundarios mat-card{
      margin: 10px;
      width: 35%;
      display: flex;
      flex-wrap: wrap;
  }
  
  .card-secundarios tr{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  }
  
  
  