mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    border: none;
  }
  mat-form-field {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
  form {
    margin-top: 1vw;
  }
  mat-card-header {
    margin-top: 1vw;
  }
  mat-card-title {
    font-size: x-large;
  }
  
  button {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
  #deps {
    background-color: #252d56;
    color: #fff;
    padding: 15px;
    font-size: medium;
    transition: 0.3s;
  }
  #deps:hover {
    background-color: #171c36;
    color: #e6e6e6;
}



